.flexslider {

  /*height: 80%;*/
}

.flexslider .slides {
  height: auto;
}

.flexslider .slides li {
  /*height: 100%;*/
}
.flexslider .slides img{
  width: 80%;
  margin: 0 auto;
  /*width: auto;*/
}

.flexslider .slides .post-data{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  /*width: 65%;*/
}
.flexslider .slides a {
  color: #097AC0;
}

.flexslider .slides .author {
  font-weight: bold;
  font-size: 18px;
  margin-right: 4px;
}

.flexslider .slides .text {
  color: black;
  display: inline;
}

.flex-control-paging li {
  display: none;
}
.flex-control-paging li:nth-last-child(-n + 20) {
  display: inline-block;
}
